---
layout: archive
---

{{ content }}

<!-- <h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3> -->
<h3 style="font-size: 24px" class="archive__subtitle">About Me</h3>
<div style="font-size: 16px">
  Hello! I am currently working as a Research Assistant at the
  <a href="https://www.nfs.go.kr/site/nfs/05/10503020000002017083103.jsp"
    >Digital and Document Analysis Lab</a
  >
  at the National Forensic Service in Korea. I am developing and researching a program
  that uses <b>computer vision</b> and <b>machine learning</b> techniques to analyze
  and classify data such as facial images and electronic signatures. I am also
  writing papers related to my research. I am particularly interested in the
  <b>data preprocessing phase for distinguishing genuine and forged images</b>, and I
  am focusing on areas such as <b>segmentation</b> and <b>feature extraction</b>.
  <br />
  <br />
  Furthermore, I hope that my research can contribute to the field of forensic
  science, aiding in criminal investigations and the judicial system, ultimately
  contributing to justice. My ultimate goal is to contribute to a better society
  through research for the public good.
  <br />
  <br />
  To learn more, please check out my
  <a href="../assets/files/Resume_English_ver.pdf">CV</a>!
  <br />
  Contact: <a href="dlguswn3659@gmail.com">dlguswn7768@gmail.com</a>
</div>
<br />
<h3 style="font-size: 24px" class="archive__subtitle">🔥 Articles</h3>
<div style="font-size: 16px">
  <ul>
    <li>
      July 2022: Multi Wallet Dashboard, awarded HackATOM Seoul Critics’ Awards -
      Interchain Award at HackATOM 2022, presented at
      <a href="https://www.hankyung.com/it/article/202208091296i"
        >Buidl Asia 2022 Blockchain Conference</a
      >
    </li>
    <li>
      September 2021: 3rd place winner at PropTech in Campus SNU 2021 hosted by
      Korea PropTech Forum and Seoul National University Graduate School of
      Environmental Studies with the commercial real estate chatbot and sublease
      platform "SpaceTalk"
    </li>
    <li>
      September 2020: 1st place winner at Chung-Ang University DaVinci SW/AI TECH
      FAIR 2020 PE Presentation Contest with the topic of lesion image processing
      learning
    </li>
    <li>
      November 2019: Winner of Seoul Scholarship Foundation Public Interest Talent
      Scholarship Contest with the "Lonely Death" project
    </li>
    <li>
      September 2019: Encouragement award winner at 2019 SKT NUGU Play Contest with
      the voice-based Mafia Game MC service "Mafia MC"
    </li>
  </ul>
</div>
<br />
<br />
<h3 style="font-size: 24px" class="archive__subtitle">📖 Education</h3>
<div style="font-size: 18px">
  <div>Research Intern, Image Lab</div>
  <div>Chung-Ang University</div>
  <div style="font-size: 14px; margin-top: 3px">Jul 2020 - Aug 2020</div>
  <br />
  <div>B.S. in Software Engineering</div>
  <div>Chung-Ang University</div>
  <div style="font-size: 14px; font-style: italic; margin-top: 3px">
    GPA 4.09/4.50
  </div>
  <div style="font-size: 14px; margin-top: 3px">Mar 2018 - Feb 2023</div>
</div>
<br />
<br />
<h3 style="font-size: 24px" class="archive__subtitle">💼 Experience</h3>
<div style="font-size: 18px">
  <div>Research Assistant / Software Engineer</div>
  <div>National Forensic Service, Digital and Document Analysis Lab</div>
  <div style="font-size: 14px; margin-top: 3px">Feb 2023 - (Present)</div>
  <br />
  <div>Blockchain Web3 Developer</div>
  <div>Blockwave Labs.</div>
  <div style="font-size: 14px; margin-top: 3px">Jan 2021 - Feb 2023</div>
</div>
<br />
<br />
<h3 style="font-size: 24px" class="archive__subtitle">🧪 Research Projects</h3>
<div style="font-size: 18px">
  <div style="font-weight: 600">Vice President of the Student Council</div>
  <div>Mingji High School, 2016-2017</div>
</div>
<br />
<br />
<h3 style="font-size: 24px" class="archive__subtitle">🛠️ Industrial Projects</h3>
<div style="font-size: 18px">
  <div style="font-weight: 600">Vice President of the Student Council</div>
  <div>Mingji High School, 2016-2017</div>
</div>
<br />
<br />
<h3 style="font-size: 24px" class="archive__subtitle">🎖 Honors and Awards</h3>
<div style="font-size: 18px; font-weight: 600; display: grid; row-gap: 10px">
  <div style="display: flex; gap: 30px; align-items: center">
    <div>Evmos-Covalent DeFi (2nd Place)</div>
    <div style="font-size: 14px">Dec 2022</div>
  </div>
  <div style="display: flex; gap: 30px; align-items: center">
    <div>HackATOM Seoul 2022 Cosmos SDK (1st Place)</div>
    <div style="font-size: 14px">Jul 2022</div>
  </div>
  <div style="display: flex; gap: 30px; align-items: center">
    <div>HackATOM Seoul 2022 Critics’ Awards - Interchain Award</div>
    <div style="font-size: 14px">Jul 2022</div>
  </div>
  <div style="display: flex; gap: 30px; align-items: center">
    <div>PropTech in Campus SNU 2021 (3rd Place)</div>
    <div style="font-size: 14px">Sep 2021</div>
  </div>
  <div style="display: flex; gap: 30px; align-items: center">
    <div>
      Chung-Ang University DaVinci SW/AI TECH FAIR 2020 PE Presentation Contest
      (1st Place)
    </div>
    <div style="font-size: 14px">Sep 2020</div>
  </div>
  <div style="display: flex; gap: 30px; align-items: center">
    <div>
      Chung-Ang UniversityXRobotics Association Creative Fusion Design Contest
      (1st Place)
    </div>
    <div style="font-size: 14px">Dec 2019</div>
  </div>
  <div style="display: flex; gap: 30px; align-items: center">
    <div>
      Chung-Ang University DaVinci SW Education Institute 2019 Best Software
      Awards (2nd Place)
    </div>
    <div style="font-size: 14px">Nov 2019</div>
  </div>
  <div style="display: flex; gap: 30px; align-items: center">
    <div>2019 Seoul Scholarship Foundation Public Interest Talent Scholarship
      Excellence Award (2nd Place)</div>
    <div style="font-size: 14px">Nov 2019</div>
  </div>
  <div style="display: flex; gap: 30px; align-items: center">
    <div>2019 SKT NUGU Play Contest Encouragement Award (3rd Place)</div>
    <div style="font-size: 14px">Sep 2019</div>
  </div>
  <div style="display: flex; gap: 30px; align-items: center">
    <div>Always-on Project Contest Excellence Award (2nd Place)</div>
    <div style="font-size: 14px">Nov 2018</div>
  </div>
</div>
<br />
<br />
<h3 style="font-size: 24px" class="archive__subtitle">💪 Leadership</h3>
<div style="font-size: 18px">
  <div style="font-weight: 600">Vice President of the Student Council</div>
  <div>Mingji High School, 2016-2017</div>
</div>
<br />
<br />
<h3 style="font-size: 24px" class="archive__subtitle">🚩 Volunteer</h3>
<div style="font-size: 18px">
  <div style="font-weight: 600">2018 PyeongChang Winter Olympics SID Passion
    Crew</div>
  <div>Gangneung Ice Hockey Center, GHC Sports Information Desk, Feb 2018</div>
</div>

{% if paginator %} {% assign posts = paginator.posts %} {% else %} {% assign
posts = site.posts %} {% endif %} {% assign entries_layout = page.entries_layout
| default: 'list' %}
<div class="entries-{{ entries_layout }}">
  {% for post in posts %} {% include archive-single.html type=entries_layout %}
  {% endfor %}
</div>

{% include paginator.html %}
